.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure full viewport height for vertical centering */
  text-align: center;
  background-color: #f9f9f9; /* Matches the profile container background */
  padding: 20px;
}

.info img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  border: 5px solid green;
}

.info p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

form input {
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

form button {
  max-width: 400px;
  padding: 12px;
  font-size: 16px;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #45a049;
}

button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6347;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

button:hover {
  background-color: #e53e2f;
}

.error {
  color: red;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}
