.write{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    .content{
        float: 5;
    }
    .menu{
        float: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
